<h3>Pictures</h3>
@foreach (Picture picture in Pics)
{
    <img src="@picture.Uri" alt="@picture.Alt" />
}

@code {
    List<Picture> Pics = new List<Picture>();

}

https://github.com/DDSoftDennie/ROARING.git
